.form-popup {
  display: none;
  position: absolute;
  margin-top: 5px;
  margin-right: -50px;
  border: 3px solid $white-dark;
  z-index: 9;
  }
  
.form-popup__sign-up {
  margin-right: 50px;
  }
  
.form-popup__container {
  width: 200px;
  padding: 30px 20px;
  background-color:$white;
  }
  
.form-popup__tittle {
  font-size: 30px;
  text-align: center;  
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
	color: $dark-red;
  }

.form-popup__input {
  font-size: 8px;
  padding: 6px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 10px;
	margin-top: 5px;
}

.form-popup__center {
  display: flex;
  justify-content: center;
}

.form-popup__btn--close {
  margin-right: 0;
  margin-top: 10px;
  color: $dark-red;
  font-weight: bold;
  font-size: 16px;
	background: none;
	cursor: pointer;
	border: none;
}

.form-popup__btn--close--sign {
  margin-left: 170px;
}

.form-popup__forget {
  color: $dark-red;
  text-decoration: underline;
  text-align: center;
  font-size: 12px;
	margin-bottom: 10px;
}

.form-popup__forget:hover {
  opacity: 80%;
}

.form-popup__input--last {
  margin-bottom: 12px;
}

@media (min-width: 481px) { 
.form-popup {
  margin-top: 5px;
  }
  
.form-popup__container {
  width: 230px;
  }

.form-popup__btn--close {
    margin-left: 5px;
}

.form-popup__btn--close--sign {
  margin-left: 205px;
}
  }

@media (min-width: 769px) {
  .form-popup {
    margin-right: -70px;
    margin-top: 5px;
}

.form-popup__sign-up {
  margin-right: 0;
}
  }

@media (min-width: 1024px) { 
.form-popup {
  margin-right: 125px;
  margin-top: 5px;
  }

.form-popup__sign-up {
  margin-right: 0;
  }

.form-popup__container {
  width: 300px;
  padding: 40px 40px;
  }

.form-popup__tittle {
  font-size: 40px;
  }

.form-popup__input {
  font-size: 14px;
  margin-bottom: 20px;
  }

.form-popup__btn {
  font-size: 18px;
  padding: 10px 75px;
  }

.form-popup__btn--close,
.form-popup__btn--close--sign {
  margin-left: 335px;
  font-size: 24px;
  }

  .form-popup__forget {
    font-size: 16px;
  }

.form-popup__input--last {
  margin-bottom: 25px;
  }
  }  